<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

{{- $title := site.Title -}}
{{- if not .IsHome -}}
  {{- $title = printf "%s · %s" .Title site.Title -}}
{{- end -}}
<title>{{ $title }}</title>

{{ partial "head-seo.html" . }}

{{- with site.Params.meta.themeColor }}
  <meta name="theme-color" content="{{ . }}" />
{{- end }}


<link rel="icon" type="image/svg+xml" href="{{ "favicon/lennymartinez.svg" | relURL }}" />
<link rel="icon" href="{{ "favicon.ico" | relURL }}" sizes="any" />
<link rel="apple-touch-icon" sizes="180x180" href="{{ "favicon/apple-touch-icon.png" | relURL }}" />
{{- with resources.Get "manifest.json" }}
  {{- with . | resources.ExecuteAsTemplate "manifest.gen.json" $ }}
    <link rel="manifest" href="{{ .RelPermalink }}" />
  {{- end }}
{{- end }}

{{- with resources.Get "css/main.css" }}
  {{- with . | minify | fingerprint }}
    <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" />
  {{- end }}
{{- end }}
