/* AT Hauss CSS */

/* Air - 100 */
@font-face {
  font-family: 'AT Hauss';
  src: url('files/AtHauss-Air.woff2') format('woff2'), url('files/AtHauss-Air.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'AT Hauss';
  src: url('files/AtHauss-AirItalic.woff2') format('woff2'), url('files/AtHauss-AirItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

/* Thin – 200 */
@font-face {
  font-family: 'AT Hauss';
  src: url('files/AtHauss-Thin.woff2') format('woff2'), url('files/AtHauss-Thin.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'AT Hauss';
  src: url('files/AtHauss-ThinItalic.woff2') format('woff2'), url('files/AtHauss-ThinItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}

/* Light - 300 */

@font-face {
  font-family: 'AT Hauss';
  src: url('files/AtHauss-Light.woff2') format('woff2'), url('files/AtHauss-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'AT Hauss';
  src: url('files/AtHauss-LightItalic.woff2') format('woff2'), url('files/AtHauss-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

/* Retina - 350 */
@font-face {
  font-family: 'AT Hauss';
  src: url('files/AtHauss-Retina.woff2') format('woff2'), url('files/AtHauss-Retina.woff') format('woff');
  font-weight: 350;
  font-style: normal;
}

@font-face {
  font-family: 'AT Hauss';
  src: url('files/AtHauss-RetinaItalic.woff2') format('woff2'), url('files/AtHauss-RetinaItalic.woff') format('woff');
  font-weight: 350;
  font-style: italic;
}

/* Regular - 400 */
@font-face {
  font-family: 'AT Hauss';
  src: url('files/AtHauss-Regular.woff2') format('woff2'), url('files/AtHauss-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'AT Hauss';
  src: url('files/AtHauss-RegularItalic.woff2') format('woff2'), url('files/AtHauss-RegularItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
/* Medium - 500 */
@font-face {
  font-family: 'AT Hauss';
  src: url('files/AtHauss-Medium.woff2') format('woff2'), url('files/AtHauss-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'AT Hauss';
  src: url('files/AtHauss-MediumItalic.woff2') format('woff2'), url('files/AtHauss-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}
/* Semibold - 600 */
@font-face {
  font-family: 'AT Hauss';
  src: url('files/AtHauss-Semibold.woff2') format('woff2'), url('files/AtHauss-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'AT Hauss';
  src: url('files/AtHauss-SemiboldItalic.woff2') format('woff2'),
    url('files/AtHauss-SemiboldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

/* Bold - 700 */
@font-face {
  font-family: 'AT Hauss';
  src: url('files/AtHauss-Bold.woff2') format('woff2'), url('files/AtHauss-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/* Black - 800 */
@font-face {
  font-family: 'AT Hauss';
  src: url('files/AtHauss-Black.woff2') format('woff2'), url('files/AtHauss-Black.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'AT Hauss';
  src: url('files/AtHauss-BlackItalic.woff2') format('woff2'), url('files/AtHauss-BlackItalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}
/* Super - 900 */
@font-face {
  font-family: 'AT Hauss';
  src: url('files/AtHauss-Super.woff2') format('woff2'), url('files/AtHauss-Super.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'AT Hauss';
  src: url('files/AtHauss-SuperItalic.woff2') format('woff2'), url('files/AtHauss-SuperItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}
