{{ define "main" }}
  {{ $subject := replace "Missing page on website" " " "%20" }}
  {{ $mailto := print "mailto:" site.Params.contactEmail "?subject=" $subject }}
  <article class="prose">
    <h1>Page not found 🫠</h1>
    <p>That page doesn't exist. It may have moved when I rebuilt this site.</p>

    <p>
      If you were looking for something specific,
      <a href="{{ $mailto }}">send me an email</a>, and I can help you find it.
    </p>

    <p>
      <a href="{{ site.Home.RelPermalink }}" class="button">Back to homepage</a>
    </p>
  </article>
{{ end }}
