<!doctype html>
<html lang="{{ site.Language.Locale }}" dir="{{ or site.Language.Direction `ltr` }}">
  <head>
    {{ partial "head.html" . }}

  </head>
  <body>
    <header>
      <span class="site-name">
        <a href="{{ "/" | relURL }}" {{- if .IsHome }} aria-current="page"{{ end }}>{{ site.Title }}</a>
      </span>
      <nav class="site-nav" aria-label="Primary">
        {{ range $i, $e := site.Menus.main }}
          {{ if $i }}<span aria-hidden="true">/</span>{{ end }}
          {{ $aria := "" }}
          {{ if $.IsMenuCurrent $e.Menu $e }}
            {{ $aria = ` aria-current="page"` }}
          {{ else if $.HasMenuCurrent $e.Menu $e }}
            {{ $aria = ` aria-current="true"` }}
          {{ end }}
          <a href="{{ $e.URL }}" {{- $aria | safeHTMLAttr }}>{{ $e.Name }}</a>
        {{ end }}
      </nav>
    </header>
    <main>
      {{- block "main" . }}
      {{ end }}
    </main>
    <footer>
      <p>
        Get in touch:
        <a href="mailto:{{ site.Params.contactEmail }}">{{ site.Params.contactEmail }}</a>.
      </p>
    </footer>
  </body>
</html>
