<!doctype html>
<html
  lang="{{ site.Language.Locale }}"
  dir="{{ or site.Language.Direction `ltr` }}"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ site.Params.description }}" />
    <meta property="og:description" content="{{ site.Params.description }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ site.Title }}" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:image" content="{{ "lennymartinez.jpg" | absURL }}" />

    <!-- favicons -->
    <link rel="icon" type="image/svg+xml" href="/lennymartinez.svg" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <link rel="icon" href="/favicon/favicon.ico" sizes="any" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <link rel="manifest" href="/favicon/site.webmanifest" />

    <title>
      {{ site.Title }}
    </title>

    {{ $style := resources.Get "css/main.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" />
  </head>
  <body>
    <header>
      <div class="site-identity">
        <a href="/" class="site-title">{{ site.Title }}</a>
      </div>
      <p class="site-bio">{{ site.Params.currentTag | markdownify }}</p>
      <nav class="site-nav" aria-label="Primary">
        &#8594;
        {{ range $i, $e := site.Menus.main }}
          {{ if $i }}/{{ end }}
          <a
            href="{{ $e.URL }}"
            {{ if $.IsMenuCurrent "main" $e }}
              aria-current="page"
            {{ end }}
            >{{ $e.Name }}</a
          >
        {{ end }}
      </nav>
    </header>
    <main>{{ block "main" . }}{{ end }}</main>
    <footer>
      <p>
        Get in touch:
        <a href="mailto: {{ site.Params.contactEmail }}"
          >{{ site.Params.contactEmail }}</a
        >.<br />
        Sometimes I share my work on
        <a
          href="{{ site.Params.instagram }}"
          target="_blank"
          rel="noopener noreferrer"
          >Instagram</a
        >,
        <a
          href="{{ site.Params.linkedin }}"
          target="_blank"
          rel="noopener noreferrer"
          >LinkedIn</a
        >, and
        <a
          href="{{ site.Params.github }}"
          target="_blank"
          rel="noopener noreferrer"
          >GitHub</a
        >.
      </p>
    </footer>
  </body>
</html>
