<!doctype html>
<html
  lang="{{ site.Language.Locale }}"
  dir="{{ or site.Language.Direction `ltr` }}"
>
  <head>
    {{ partial "head.html" . }}

  </head>
  <body>
    <header>
      <div class="site-identity">
        <a href="{{ site.Home.RelPermalink }}" class="site-title"
          >{{ site.Title }}</a
        >
      </div>
      <p class="site-short-bio">{{ site.Params.shortBio | markdownify }}</p>
      <nav class="site-nav" aria-label="Primary">
        <span aria-hidden="true">&#8594;</span>
        {{ range $i, $e := site.Menus.main }}
          {{ if $i }}<span aria-hidden="true">/</span>{{ end }}
          <a
            href="{{ $e.URL }}"
            {{ if $.IsMenuCurrent "main" $e }}
              aria-current="page"
            {{ end }}
            >{{ $e.Name }}</a
          >
        {{ end }}
      </nav>
    </header>
    <main>{{ block "main" . }}{{ end }}</main>
    <footer>
      <p>
        Get in touch:
        <a href="mailto: {{ site.Params.contactEmail }}"
          >{{ site.Params.contactEmail }}</a
        >.<br />
        {{- $out := slice }}
        {{- range where site.Params.social "inFooter" true }}
          {{- $out = $out | append (printf `<a href=%q >%s</a>` .url .name) }}
        {{- end }}
        Sometimes I share my work on
        {{ delimit $out ", " ", and " | safeHTML }}.
      </p>
    </footer>
  </body>
</html>
