{{ define "main" }}
  <article class="prose">
    <h1>{{ .Title }}</h1>
    {{ .Content }}


    <ul class="work-list">
      {{ range where (where .Site.RegularPages "Section" "projects") "Params.featured" true }}
        <li>
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          <span class="year">({{ .Date.Year }})</span>
        </li>
      {{ end }}
    </ul>

    <div class="update-notice">
      <p>
        <strong>This portfolio is a work in progress.</strong> I'm adding my
        past projects currently, so check back in often.
      </p>
    </div>
  </article>
{{ end }}
