{{- $res := resources.Get .Destination -}}
{{- $loading := cond (eq .Ordinal 0) "eager" "lazy" -}}
{{- $class := "" -}}
{{- with .Attributes.class }}{{ $class = printf ` class=%q` . }}{{ end -}}
{{- if $res -}}
  {{- $img := $res.Resize "800x webp" -}}
  {{- if .IsBlock -}}
    <figure {{- $class | safeHTMLAttr }}>
      <img
        src="{{ $img.RelPermalink }}"
        width="{{ $img.Width }}"
        height="{{ $img.Height }}"
        alt="{{ .PlainText }}"
        loading="{{ $loading }}"
        decoding="async"
      />
      {{- with .Title }}<figcaption>{{ . }}</figcaption>{{ end -}}
    </figure>
  {{- else -}}
    <img
      src="{{ $img.RelPermalink }}"
      width="{{ $img.Width }}"
      height="{{ $img.Height }}"
      alt="{{ .PlainText }}"
      loading="{{ $loading }}"
      decoding="async"
      {{- $class | safeHTMLAttr }}
    />
  {{- end -}}
{{- else -}}
  <img src="{{ .Destination | safeURL }}" alt="{{ .PlainText }}" />
{{- end -}}
